@import 'constants/colors.scss';

.audio-control {
    padding: 10px;
    color: map-get($colors, dark-purple);

    &:hover {
        color: map-get($colors, light-purple);
        background-color: map-get($colors, dark-purple);
    }

    &:active {
        color: map-get($colors, light-purple);
        background-color: map-get($colors, light-purple);
    }
}
