{% extends "layouts/_base.html" %}

{% block app %}
    <div class="flex-container justify-center charcoal">
        {% for episode in podcast.episodes %}
            <div class="flex-container justify-between align-center flex-sm-7 padding-normal margin-loosest light-purple shadow" {% if episode.finished %} style="opacity: 0.5" {% endif %}>
                <div class="flex-sm-4 margin-bottom-tight">
                    <h2 class="text-normal">
                        {{ episode.title }}
                    </h2>
                </div>
                <div id="episode-id-{{ loop.index }}" class="flex-sm-6 text-center">
                </div>
                <div class="flex-sm-12">
                    {{ episode.description | striptags }}
                </div>

                <script>
                    $(document).ready(function() {
                        app.audio('#episode-id-{{ loop.index }}', {{ episode | tojson | safe }}, '{{ episode.id }}', '{{ episode.audio_url }}', '{{ episode.progress }}', '{{ episode.duration }}')
                    });
                </script>
            </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function() {
            app.run();
        });
    </script>
{% endblock %}
