{% extends "layouts/_base.html" %}

{% block app %}
    <div class="flex-container justify-center paper">
        {% for item in items %}
            <div class="flex-sm-7 padding-normal margin-bottom-loosest border-thin border-light-brown {% if loop.first %} margin-top-loose {% endif %}">
                <a class="text-brown text-loose text-bold" href="/{{ item.id }}/episodes">
                    <div class="flex-container align-center">
                        <div class="flex-sm-2">
                            <img src="{{ item.image }}">
                        </div>
                        <span class="flex-sm-8 text-center">
                            {{ item.title }}:
                            {{ item.feed_url }}
                        </span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
